[build]
  command = "npx expo export --platform web --output-dir dist"
  publish = "dist"

[[redirects]]
  from = "/"
  to = "/login"
  status = 302

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
